# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Data files
CODE/datasets/raw/*
CODE/datasets/processed/*
!CODE/datasets/raw/.gitkeep
!CODE/datasets/processed/.gitkeep
